body {
  background-color: #ededed;
}
p, .normal{
	font-size: 20px;
}
button{
	color: #ededed;
	border: 2px solid red;
	border-radius: 16px;
	background-color: red;
	padding: 14px 40px;
	transition-duration: 0.4s;
	font-size: 20px;
}
button:hover{
	color: black;
	background-color: #ededed;
}
.large{
	font-size: 30px;
}
